body

#page-wrapper

#header { background-image: url("../images/repeating.png");
float: left;}

#header h1 { position: absolute;
left: 420px;
top:5px;
font-size: 3em;
font-family: 'Devonshire', cursive;
color: #E35335;}

#header a#logo1 img

#header #toplink

#footer { float: left;
width: 100%;
background-color: #333;}

#content-wrapper

#main-content

h2 strong { font-size: 2em;
font-weight: 900;}

.imageR { float: right;
border: 2px solid blue;
width: 300px;
padding: 5px;
background-color: white;
margin: 10px 0 10px 20px;}

#side-content

#main-nav { float: left;
position: relative;
right: 50%;}

#main-nav ul

#main-nav ul li

#main-nav ul li a 

#main-nav ul li a:hover { background-color: #ccc;
color: #333;}

#center { background-image: url("../images/black.jpg"); }

strong { text-decoration: none;
position: absolute;
top:-34px;
right: 10px;
color: white;
font-size: 1.8em;}
